<Body style="margin: 0; padding: 1in;">
	<style>
		h1, h2, h3, p {
			margin: 0;
		}

		h1 {
			border: .125in solid black;
			padding: .125in;
			border-radius: .125in;

			text-align: center;
			font-size: .5in;
		}

		p {
			padding: .25in 0;
			font-size: .25in;
			text-align: center;
		}

		section {
			padding: 1in 0;
		}
		section a {
			display: block;

			margin-bottom: .125in;

			box-sizing: border-box;
			border: .0625in solid black;
			padding: .25in;

			color: black;
			text-decoration: none;

			border-radius: .125in;

			font-size: .25in;
		}
	</style>
	<h1 tabindex="0">XO</h1>
	<p tabindex="0">Universal JS Collection</p>
	<p>XO</p>

	<h2>Extensions</h2>
	".xo" signifies an isomorphic JavaScript performable (Contexts: Browser, Node.js, etc.)
	".broma.xo" signifes an isomorphic Mocha performable

	<section>
		<a href="Offers/Board/New.html">Board</a>
		<a href="Offers/bracket/@ Summary.html">bracket</a>
		<a href="Offers/Processor/New.html">Processor</a>
	</section>






	<section style="white-space: pre">
	<h2>Notes</h2>

	
	</section>
</Body>
